<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ganesh Chaturthi 2024 in Mumbai</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            margin: 0;
            padding: 0;
        }
        header {
            background: repeating-linear-gradient(
                45deg,
                rgb(0, 255, 115),
                rgb(85, 0, 255) 20px,
                rgb(115, 128, 0) 20px,
                green 40px
            );
            color: white;
            text-align: center;
            padding: 20px 0;
        }
        header h1 {
            margin: 0;
            font-size: 2.5em;
            text-shadow: 2px 2px 4px #000;
        }
        .images {
            display: flex;
            justify-content: center;
            gap: 10px;
            padding: 20px;
            background-color: #f4f4f4;
        }
        .images img {
            max-width: 45%;
            border-radius: 5px;
        }
        .content {
            padding: 20px;
        }
        .content a {
            color: #0066cc;
            text-decoration: none;
        }
        .content a:hover {
            text-decoration: underline;
        }
        footer {
            text-align: center;
            background-color: #333;
            color: white;
            padding: 10px 0;
        }
    </style>
</head>
<body>
    <header>
        <h1> Ganesh Chaturthi in Mumbai</h1>
    </header>

    <section class="images">
    
        <figure>
            <img src="https://images.app.goo.gl/wj3E1rae9aXwKRKa7" alt="Mt. Mary, Bandra, Mumbai">
            <figcaption>Lalbaugcha Raja - lalbaug market, Mumbai</figcaption>
        </figure>
    </section>
    
    <section class="content">
        <h2>Why is Ganesh Chaturthi Celebrated?</h2>
        <p>
            Ganesh Chaturthi, also known as Vinayaka Chaturthi, is a significant Hindu festival celebrated across India and other parts of the world. This 10-day festival honors the birth of Lord Ganesha, the remover of obstacles and the god of wisdom, prosperity, and good fortune.

            The Story Behind Ganesh Chaturthi
        </p>
        <p>
            According to Hindu mythology, Lord Ganesha was born to Lord Shiva and Goddess Parvati. The story goes that Parvati, wanting a child, created Ganesha from the dirt and dust of her body. She instructed Ganesha to guard the entrance of their home while she took a bath.

        </p>
        <p>
            Meanwhile, Lord Shiva, unaware of Ganesha's existence, returned home and was stopped by Ganesha. Shiva, in a fit of anger, beheaded Ganesha. Parvati, upon learning of this, was devastated and threatened to destroy the universe.

        </p>
        <p>To calm her down, Shiva sent his attendants to find the head of the first living being they encountered. They found an elephant and brought back its head, which was then attached to Ganesha's body. Shiva also declared that Ganesha would be the leader of his attendants and would be worshiped before any other deity.
        </p>

        <h2>Additional Information</h2>
        <p>
            The festival celebrates Ganesha as the God of New Beginnings, the Remover of Obstacles and the God of Wisdom and Intelligence and is observed throughout the Indian subcontinent by Hindus, especially in the states such as Maharashtra, Madhya Pradesh, Karnataka, Odisha, Telangana, Andhra Pradesh, Tamil Nadu and Goa, as well as Nepal.Ganesh Chaturthi is also observed by the Hindu diaspora elsewhere such as in Australia, New Zealand, Canada, Singapore, Malaysia, Sri Lanka, Trinidad and Tobago, Guyana, Suriname, other parts of the Caribbean, Fiji, Mauritius, South Africa, the United States, and Europe. In the Gregorian calendar, Ganesh Chaturthi falls between 22 August and 20 September every year.

        <p>
           >Although the origin of Ganesh Chaturthi remains unknown, it became increasingly popular after a public celebration was initiated by the prominent Anti-Colonial Freedom Fighter, Lokamanya Bal Gangadhar Tilak, in Maharashtra in the year 1893. It was a means to form a Hindu nationalist identity and rebel against British rule. Reading of texts, feasting, athletic and martial arts competitions are held at public venues.

        <p>
            In India, Ganesh Chaturthi is primarily celebrated at home and in public by local community groups in the central and western states of Maharashtra, Madhya Pradesh, Gujarat, Rajasthan and Goa and the southern states of Karnataka, Andhra Pradesh, Telangana, Tamil Nadu and eastern states of West Bengal and Odisha and in North eastern state of Assam.
        </p>
        <p>On the same day, Chaurchan festival is celebrated in Mithila region of Bihar which is related to Ganesha and Chandra, the Hindu moon god.
        </p>
        <p>The date for the festival is usually decided by the presence of Chaturthi Thithi. The festival is held during "Bhadrapada Madyahanaa Purvabaddha". If the Chaturthi Thiti begins at night on the previous day and gets over by morning on next day, then the next day is observed as Vinayaka Chaturthi.
        </p>
        <p>In the consecration ceremony, a priest performs a Prana Pratishtha to invite Ganesh like a guest. This is followed by the 16-step Shodashopachara ritual, (Sanskrit: Shodash, 16; Upachara, process) during which coconut, jaggery, modaks, durva grass and red hibiscus (Jaswand) flowers are offered to the idol. Depending on the region and time zone, the ceremony commences with hymns from the Rigveda, the Ganapati Atharvashirsa, the Upanishads and the Ganesh stotra (prayer) from the Narada Purana are chanted. In Maharashtra as well as Goa, aarti is performed with friends and family, typically in the morning and evening.
        </p>
        <p>In preparation for the festival, artisans create clay models of Ganesha for sale. The images (Murtis) range in size from 20 mm (3⁄4 in) for homes to over 20 m (70 ft) for large community celebrations.
        </p>


    </section>

  
    
    <section class="content">
        <h2>Church Visits and Midnight Mass</h2>
        <ul>
            <li><a href="https://maps.app.goo.gl/BvD6zYcD8Xc48HuK8" target="_blank">Mount Mary Basilica, Bandra</a></li>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d9281.198116421278!2d72.82113968501497!3d19.045813443952007!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c9409a609d75%3A0xd0a71c45e7557bfa!2sBasilica%20of%20Our%20Lady%20of%20the%20Mount%20(Mount%20St%20Mary%20Church)!5e1!3m2!1sen!2sin!4v1734535287177!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            <li><a href="https://goo.gl/maps/TtfE67j34vR2" target="_blank">St. Thomas Cathedral, Fort</a></li>
            <li><a href="https://goo.gl/maps/Zt9WNXUZX1H2" target="_blank">Gloria Church, Byculla</a></li>
            <li><a href="https://goo.gl/maps/qUc9KRfTAxA2" target="_blank">Holy Name Cathedral, Colaba</a></li>
        </ul>

        <h2>Streets and Markets Decked Up</h2>
        <ul>
            <li><a href="https://goo.gl/maps/xWx8hT6dD1H2" target="_blank">Hill Road, Bandra</a></li>
            <li><a href="https://goo.gl/maps/FUMM1vQuc3A2" target="_blank">Crawford Market</a></li>
            <li><a href="https://goo.gl/maps/8BJGW3xTBVJ2" target="_blank">Colaba Causeway</a></li>
        </ul>

        <h2>Christmas Decorations and Lights</h2>
        <ul>
            <li><a href="https://goo.gl/maps/yRbZCRts7HZ2" target="_blank">Carter Road Promenade, Bandra</a></li>
            <li><a href="https://goo.gl/maps/8QzSzccHjSB2" target="_blank">Bandra Bandstand</a></li>
            <li><a href="https://goo.gl/maps/8q5G7pqCt3P2" target="_blank">IC Colony, Borivali</a></li>
        </ul>

        <h2>Food and Festive Treats</h2>
        <ul>
            <li><a href="https://goo.gl/maps/FTUuSxvFyF82" target="_blank">A1 Bakery, Bandra</a></li>
            <li><a href="https://goo.gl/maps/LzgHRGbp7ND2" target="_blank">Yazdani Bakery, Fort</a></li>
            <li><a href="https://goo.gl/maps/VzVRf4gnXCL2" target="_blank">Candies, Bandra</a></li>
        </ul>

        <h2>Community Events and Festivities</h2>
        <ul>
            <li><a href="https://goo.gl/maps/AKLuvNkq2Ez1" target="_blank">High Street Phoenix Mall</a></li>
            <li><a href="https://goo.gl/maps/LKmzhtT6cQ62" target="_blank">Jio World Drive Mall</a></li>
            <li><a href="https://goo.gl/maps/4V6YW1p9s3L2" target="_blank">Bandra West (Residential Displays)</a></li>
        </ul>

        <h2>Tourist Attractions</h2>
        <ul>
            <li><a href="https://goo.gl/maps/GV8WmR7gxcz" target="_blank">Gateway of India</a></li>
            <li><a href="https://goo.gl/maps/4j3sDyKmHWp" target="_blank">Marine Drive</a></li>
        </ul>
    </section>

    <footer>
        <p>All rights reserved to Cultura Blah Blah Blah</p>
    </footer>
</body>
</html>
